    .product img {
        height: 286px;
        width: 286px;
        border-radius: 8px;
        margin: 7px;
    }
    
    .product {
        width: 300px;
        height: 510px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 7px;
        margin-top: 21px;
        position: relative;
    }
    
    .product-info {
        margin: 0 14px;
    }
    
    .product-info p {
        margin-bottom: 0px;
        ;
    }
    
    .product-name {
        font-family: Lato;
        font-style: normal;
        font-size: 21px;
        line-height: 25px;
        margin-top: 7px;
    }
    
    .btn-cart {
        width: 100%;
        background-color: #FFE0B3;
        border: none;
        border-radius: 0px 0px 8px 8px;
        position: absolute;
    }
    
    .btn-cart:hover {
        background-color: orange;
    }